body{
    background: rgb(229, 235, 236);
}



.grid-item{
    background: rgba(253, 253, 253, 0.726);
    padding: 5% 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(253, 253, 253, 0.24);
    margin-top: 5%;
    color:rgb(58, 77, 88);
    box-shadow: 5px 5px 5px #aaaaaa;
    
    
}

.youtube-frame{
    border-style: solid ; 
    border-color: rgba(216, 217, 221, 0);
    border-width: 0px;
    border-radius: 35px;
    box-shadow: 5px 5px 5px #c5c5c5;
    
}

.description-list {
    margin-right: 35px;
    background: #f2f4f6;
    padding: 10px;
    font-family:sans-serif;
    font-weight: bold;
  }

  .skills-list{
    font-family:sans-serif;
    font-weight: bold;
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 50px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 5px 5px 5px #ffffff44;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    color:rgb(45, 83, 72)
  }